{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <style>
        h1{
            margin-top: 100px;
        }
    </style>
{{/section}}
<!-- register Modal -->
<section>
    <div class="container">
        <form class="form-horizontal"
              name="signUpForm"
              id="signUpform"
              action="/sign-up"
              method="POST">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="tel"
                           name="phone"
                           class="form-control"
                           id="phone"
                           placeholder="请输入正确的手机号码">
                    <div id="phone-error" class="alert alert-danger" role="alert">手机格式不正确</div>
                </div>
            </div>
            <!--<div class="form-group">
                <div class="col-sm-12">
                    <input type="email"
                           name="email"
                           class="form-control"
                           id="register-email"
                           placeholder="请输入正确的邮箱">
                    <div id="email-error" class="alert alert-danger" role="alert">邮件格式不正确</div>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password"
                           name="pwd"
                           class="form-control"
                           id="register_pwd"
                           placeholder="请输入密码">
                    <div id="pwd-error" class="alert alert-danger" role="alert">请输入6-20位密码</div>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPassword3" class="col-sm-2 control-label">Password</label>-->
                <div class="col-sm-12">
                    <input type="password"
                           name="repwd"
                           class="form-control"
                           id="register_repwd"
                           placeholder="重新输入密码">
                    <div id="repwd-error" class="alert alert-danger" role="alert">两次密码输入不正确</div>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="inputPassword3" class="col-sm-2 control-label">Password</label>-->
                <div class="col-sm-4">
                    <input type="text"
                           name="vcode"
                           class="form-control"
                           id="register_vcode"
                           placeholder="验证码">
                    <div id="vcode-error" class="alert alert-danger" role="alert">验证码不能为空</div>
                </div>
                <div class="col-sm-2 vcode">
                    <img src="/captcha" alt="error" id="vcode"/>
                </div>
                <div class="col-sm-6">
                    <p>请填写图片中的字符，不区分大小写</p>
                    <p><a href="#" id="getCode">看不清楚，重新换一张</a></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10 col-sm-12">
                    <input type="button"
                           name="signUp"
                           class="btn btn-default"
                           id="register_btn"
                           value="注册">
                </div>
            </div>
        </form>
    </div>
</section>

{{#section 'customjs'}}
    <script src="javascripts/signup.js"></script>
{{/section}}
